{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="container">
        <div class="col-lg-8 offset-2">
            {% for tweet in list_tweets %}
            <div class="tweet-container">
                <a href="{% url 'profile' tweet.perfil.id %}">
                    <h3>{{tweet.perfil.user.username}}</h3>
                </a> 
                <p>{{tweet.texto}}</p>
                <p>{{tweet.f_escrito}}</p>
            </div>
            {% endfor %}
        </div>
        <form action="{% url 'send_tweet' %}" method="POST">
            {% csrf_token %}
            <label for="content">Your tweet: </label>
            <textarea name="content" id="" cols="30" rows="10"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

{% endblock content %}
