<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
   <style>
        .tweet-container{
            border: 1px #ccc solid;
            border-radius: 6px;
            padding: 7px;
            margin: 5px;
        }
   </style>
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="container">
            <div class="col-lg-8 offset-2">
                <h1>Hola mundo</h1>
                {% for t in feed %}
                <div class="tweet-container">
                    <h3>{{t.perfil.user}}</h3>
                    <p>{{t.texto}}</p>
                    <p>{{t.f_escrito}}</p>
                </div>
                {% endfor %}
                <form action="{% url 'send_tweet' %}" method="POST">
                    {% csrf_token %}
                    <label for="content">Your tweet: </label>
                    <textarea name="content" id="" cols="30" rows="10"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>

        </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</html>