{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="container">
        <div class="col-md-4 profile-info" style="float:left">
            <img src="{{profile.foto_perfil.url}}" alt="">
            <h3>{{profile.user.username}}</h3>
            <span>
                {{profile.bio}}
            </span>
            <button><a href="{% url 'follow_profile' profile.id %}">Seguir</a></button>
            <ul>
                {% for follower in list_followers %}

                <li><a href="{% url 'profile' follower.seguidor.id %}">
                        {{follower.seguidor.user.username}}
                    </a></li>

                {% endfor %}

            </ul>
        </div>
        <div style="float:left">
            {% include 'posts/feed.html' %}
        </div>


    </div>

</div>

{% endblock content %}